QPushButton#btn_main {
    background-color: #2d2d2d;
    color: #b4b4b4;
    border-radius:22px;
    font: bold 16px;
}
QPushButton#btn_main:hover {
    background-color: #aa2337;
    color: #ffffff;
}
QPushButton#btn_main:pressed {
    background-color: #891c2d;
    color: #adadad;
}